### IDEs & Editors ###
.idea/
*.iws
.idea_modules/
*.iml
.vscode/
.DS_Store

### Build & Artifacts ###
back-end/.gradle/
back-end/**/.gradle/
back-end/build/
back-end/**/build/
back-end/bin/
back-end/**/bin/
**/bin/
out/

### Frontend Dependencies & Builds ###
front-end/node_modules/
front-end/build/
.npm
.eslintcache

### Environment & Secrets ###
.env.local
.env.*.local
*.secret
*.pem
*.key
